.app {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}

.canvasContainer {
  margin: 1rem 0;
}

canvas {
  border: 1px solid grey;
}

.actionList {
  overflow-y: scroll;
  height: 100%;
  padding: 0 1rem;
  flex: 1;
}

.actionList > .action {
  padding: 2px 0;
}

.progressContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.progressContainer button {
  flex-shrink: 0;
}

.speedContainer {
  min-width: 200px;
}

.speedContainer button {
  margin: .25rem 0;
}

.uploadContainer {
  padding: 0 .5rem;
  min-width: 250px;
}

.checkboxContainer {
  padding: .5rem 0;
}

.progressContainer .indicatorLeft {
  padding-left: .25rem;
  padding-right: 1rem;
}

.progressContainer .indicatorRight {
  padding-left: 1rem;
}
