.header {
  display: flex;
  justify-content: center;
}


.canvasContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

canvas {
  border: 1px solid grey;
}

.actionList {
  overflow-y: scroll;
  height: 100%;
  padding: 0 1rem;
  flex: 1;
}

.actionList > .action {
  padding: 2px 0;
}

.progressContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.progressContainer button {
  flex-shrink: 0;
}

.progressContainer .playButton {
  margin-right: 1rem;
}

.speedContainer {
  min-width: 200px;
}

.uploadContainer {
  padding: 0 .5rem;
}

.fileLine {
  font-size: .8em;
  margin: 2px 0;
  display: flex;
}

.statusContainer {
  min-width: 60px;
}
